.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.content__text{
  color: #fff;
}

.title{
  font-size: 2rem;
  user-select: none;
  color: rgba(55, 55, 55);
}

.subtitle{
  font-size: 2.5rem;
  user-select: none;
}

.cursor{
  height: 300px;
  width: 300px;
  background-color: rgb(55, 55, 55);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: absolute;
  z-index: -1;
  animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate{
  0%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}